<li class="picture-list-item">
  <a href="#">
    <img 
      data-id="<%= photo.id %>" 
      class="pull-left img-margin img-thumbnail" 
      src="<%= photo.get('images').low_resolution.url %>">
  </a>
</li>
