<li class="picture-list-item">
<div class="photo-container pull-left text-center">
  <p class="photo-header"><a href="#/users/<%= photo.get('user').id %>"><%= photo.get('user').username%></a></p>
  <a href="#">
    <img 
      data-id="<%= photo.id %>" 
      class="img-margin img-thumbnail" 
      src="<%= photo.get('images').low_resolution.url %>">
  </a>
  </div>
</li>
