<% photos.each(function (photo) { %>
  <article class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#/photos/<%= photo.get('id') %>">
            <img src="<%= photo.get('images').low_resolution.url %>">
          </a>
        </div>
      </div>
    </div>
  </article>
<% }); %>
