<article data-id="<%= photos.last().get('id') %>" class="row">
  <% photos.each(function (photo, index) { %>
    <div class="col-md-4 text-center">
      <div class="panel panel-default">
        <div class="photo-thumb panel-body">
          <a href="#/photos/<%= photo.get('id') %>">
            <img data-id="<%= photo.get('id') %>" class="rounded-picture" src="<%= photo.get('images').low_resolution.url %>">
          </a>
        </div>
      </div>
    </div>
  <% }); %>
</article>
