<div class="jumbotron session">
  <div class="row">
    <div class="text-center col-xs-offset-4 col-xs-4">
      <div class="jumbotron">
        <h1> Sign Up </h1>
        <%= render "layouts/login", 
          :url => users_url, 
          :button_name => "Create Account" %>
      </div>
    </div>
  </div>
</div>
        
