img#profile-picture {
  padding: 0px;
  width: 40px;
  height: 40px;
}
#profile-picture-container {
  padding-bottom: 5px;
  padding-right: 10px;
  padding-top:5px;
  padding-left:10px;
}
.navbar-brand {
   font-family: 'Rosarivo', cursive; 
   font-weight: bold;
   background: #f7f7f7;
   font-size: 16pt;
   border-right: 1px grey solid;
}
.navbar {
  font-family: 'Duru Sans', cursive; 
  font-size: 12pt;
  box-shadow: 0px 0px 5px grey;
}
