<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal&#45;header"> -->
      <!--   <button type="button" class="close" data&#45;dismiss="modal" aria&#45;hidden="true">&#38;times;</button> -->
      <!--   <!&#45;&#45; <h4 class="modal&#38;#45;title">Title</h4> &#45;&#45;> -->
      <!-- </div> -->
      <div class="modal-body">
        <div class="row">
          <div id="image-area" class="col-xs-6">
          </div>
          <div id="comment-area" class=" col-xs-5 col-xs-offset-1">
          </div>
        </div>
      </div>
      <!-- <div class="modal&#45;footer"> -->
      <!--   <!&#45;&#45; <button type="button" class="btn btn&#38;#45;default" data&#38;#45;dismiss="modal">Close</button> &#45;&#45;> -->
      <!--   <!&#45;&#45; <button type="button" class="btn btn&#38;#45;primary">Save changes</button> &#45;&#45;> -->
      <!-- </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
